<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >Diagrama de Prelaciones entre tareas</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
<li><a ng-click="VPrelaciones1(idPila)"
       ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false">
    Regresar</a></li>
<li><a ng-click="VLogin4()">
    Salir</a></li>

            </ul>
        </div>
    </div>
</nav>

        <table ng-table="tableParams3" template-pagination="pager.html" class="table">
            <tr ng-repeat="row in data3">
                <td data-title="'Diagrama'">{{row['descripcion']}}</td>
            </tr>
        </table>

<div id="right"></div>