<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >Sub Equipo del Sprint</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
<li><a ng-click="VSprint1(idSprint)"
       ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false">
    Regresar</a></li>

            </ul>
        </div>
    </div>
</nav>

        <form name="fEquipoForm" ng-submit="AActualizarEquipoSprint0(fEquipoForm.$valid)" novalidate>
        <input id="fEquipo_idProyecto" type="hidden" name="idProyecto" ng-model="fEquipo.id" />
        
        <table class="table">
            <tr>
                <div class="form-group"
                     ng-class="{ 'has-error' :  fEquipoSubmitted && fEquipoForm.miembro.$invalid &&             
                                                fEquipoForm.miembro.$pristine && fEquipoSubmitted}">
                     <td width="30%">
                        <label for="fEquipo_miembro">Miembros del Sub Equipo:</label>&nbsp;
                     </td>
                     <td>
                        <select id="fEquipo_miembro" style='width:80%;' ng-model="fEquipo.miembros" 
                                required multiple ng-options="item.key as item.value for item in fEquipo_opcionesMiembros">
                        </select>
                        <p ng-show="fEquipoSubmitted && fEquipoForm.miembro.$invalid" class="help-block">
                            Error en campo de los Miembros del Equipo.
                        </p>
                     </td>
                </div>
            </tr>
        </table>
        <button type="submit" class="btn btn-perso btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span>Actualizar
        </button>
    </form>
    <hr/>


<div id="right"></div>